#help{
	background: url(../../../assets/images/help/02.jpg) no-repeat 0 -100px;
	padding: 30px 0;
	.container{
		position: relative;
	}
	.side-menu{
		width: 250px;
		height: 222px;
		background: url(../../../assets/images/help/03.jpg) no-repeat;
		background-size: 100% 100%;
		position: absolute;
		&+.content{
			min-height: 600px;
			margin-left: 280px;
			border: solid 1px $border-color;
			background: $white;
			padding: 0 20px;
		}
	}
	.panel{
		margin-top: 20px;
	}
}